.avatar {
  width: 48px;
  height: 48px;
  background-color: #cccccc;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 30px;
  }
  &__input {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
  }
  &.is-big {
    width: 150px;
    height: 150px;
  }
  &.is-editable {
    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
    }
  }
  &.with-border {
    border: 2px solid #c30e42;
  }
}
