.categories {
  margin-bottom: 40px;
  &__title {
    color: $violet;
    text-transform: uppercase;
    padding: 15px 10px 15px 10px;
  }
  &__list {

  }
  &__item {

  }
  &__link {
    position: relative;
    padding: 15px 10px 15px 10px;
    display: block;
    border-left: 3px solid transparent;
    color: #ffffff;
    &:hover,
    &.active {
      border-left-color: #02bbf1;
      background-image: linear-gradient(to right, rgba(126, 142, 218, 0.4), rgba(255, 255, 255, 0));
    }
  }
}
