.header {
  padding: 25px 48px;
  box-shadow: 0 0 10px 0 rgba(48, 54, 80, 0.2);
  background-color: $white;
  &__inner {
    position: relative;
    padding-right: 20px;
    display: flex;
    align-items: center;
  }
  &__menu-btn {
    display: none;
    border: 0;
    background-color: transparent;
  }
  &__title {
    color: $sky-blue;
  }
  @media (max-width: $tablet) {
    padding: 24px 23px;
  }
  @media (max-width: $mobile) {
    padding: 18px 24px;
    &__menu-btn {
      display: inline-block;
    }
    &__title {
      text-align: center;
      flex: 1;
    }
  }
}




