.side-menu {
  padding-top: 15px;
  padding-bottom: 24px;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  width: $menu-width;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #485173, #24283e);
  transition: transform 0.3s;
  z-index: 10;
  &__close {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3rem;
    border: none;
    color: $white;
    font-weight: 500;
    background-color: transparent;
  }
  &__title {
    color: $white;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .user {
    margin-bottom: 60px;
  }
  .menu-new-contact-wrapper {
    margin-top: auto;
  }
  .menu-padding {
    padding-left: 55px;
    padding-right: 55px;
  }

  @media (max-width: $tablet) {
    width: $tablet-menu-width;
    &__title {
    }
    &__close {
    }
    .menu-padding {
      padding-left: 40px;
      padding-right: 30px;
    }
  }

  @media (max-width: $mobile) {
    padding-top: 55px;
    transform: translateX(-100%);
    &__title {
      display: none;
    }
    &__close {
      display: block;
    }
  }
}



