.user-item {
  width: 25%;
  margin-bottom: 65px;
  padding-right: 40px;
  //min-width: 1px;
  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 35px;
  }
  &__avatar {
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 48px;
    margin-right: 13px;
  }
  &__info {

  }
  &__name {
    display: inline-block;
    font-size: 18px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__text {
    font-size: 14px;
  }
  &__btn {
    position: absolute;
    top: 13px;
    right: 45px;
  }
  @media(max-width: $tablet) {
    width: 50%;
    margin-bottom: 48px;
    padding-right: 32px;
  }
  @media (max-width: $mobile) {
    width: 100%;
  }
}
