/*colors*/
$white: #ffffff;
$blue-grey: #abafc3;

$grey: #d8d8d8;
$dark-grey: #abafc3;
$red: #c30e42;
$violet: #5b5585;
$light-violet: #6e6d88;
$sky-blue: #00ace2;

$menu-width: 330px;
$tablet-menu-width: 292px;

$tablet: 1200px;
$mobile: 767px;
