include _dots-btn
-
  var categories = [
  {
  name:'All Contacts',
  link:'/',
  active:true
  },
  {
  name:'Family',
  link:'/'
  },
  {
  name:'Job123',
  link:'/'
  },
  {
  name:'Fitness',
  link:'/'
  }

  ];

.categories
  .categories__title.uppercase.menu-padding Categories
  ul.categories__list
    each category in categories
      li.categories__item
        a.categories__link.menu-padding(href=category.link class=category.active ? 'active' : '')
          .categories__link-inner
            | #{category.name}
            +dotsBtn()
