mixin editAvatar()
  .edit-avatar(style=`background-image:url(https://source.unsplash.com/random/800x600)`)
    label.edit-avatar__label Click for Upload Photo
      input.edit-avatar__input(type="file")
