include _current-user
-
  var user = {
  name: 'Vasya',
  link:'/contact.html',
  avatar:'https://source.unsplash.com/random/800x600',
  text:'some text'
  };

aside.side-menu
  .side-menu__title Contact Book
  +currentUser(user)
  include _search-contact
  include _categories-list
  .coming-birhday
    .coming-birthday__title Coming birthday


