div
  | <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
  <symbol id="icon-search" viewBox="0 0 64 64">
  <title>search</title>
  <path fill="#fff" style="fill: var(--color1, #fff)" d="M45.74 40.252h-2.891l-1.025-0.988c3.586-4.172 5.745-9.587 5.745-15.479 0-13.137-10.648-23.785-23.785-23.785s-23.785 10.648-23.785 23.785c0 13.137 10.648 23.785 23.785 23.785 5.891 0 11.307-2.159 15.479-5.745l0.988 1.025v2.891l18.296 18.26 5.452-5.452-18.26-18.296zM23.785 40.252c-9.111 0-16.467-7.355-16.467-16.467s7.355-16.467 16.467-16.467c9.112 0 16.467 7.355 16.467 16.467s-7.355 16.467-16.467 16.467z"></path>
  </symbol>
  <symbol id="icon-menu" viewBox="0 0 64 64">
  <title>menu</title>
  <path fill="#abafc3" stroke="#aaafc5" stroke-width="3.7647" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color3, #aaafc5)" style="fill: var(--color2, #abafc3)" d="M58.951 15.059h-54.012c-0.648 0-1.174 0.526-1.174 1.174s0.526 1.174 1.174 1.174h54.012c0.648 0 1.174-0.526 1.174-1.174s-0.526-1.174-1.174-1.174z"></path>
  <path fill="#abafc3" stroke="#aaafc5" stroke-width="3.7647" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color3, #aaafc5)" style="fill: var(--color2, #abafc3)" d="M58.951 31.497h-54.012c-0.648 0-1.174 0.526-1.174 1.174s0.526 1.174 1.174 1.174h54.012c0.648 0 1.174-0.526 1.174-1.174s-0.526-1.174-1.174-1.174z"></path>
  <path fill="#abafc3" stroke="#aaafc5" stroke-width="3.7647" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color3, #aaafc5)" style="fill: var(--color2, #abafc3)" d="M58.951 47.936h-54.012c-0.648 0-1.174 0.526-1.174 1.174s0.526 1.174 1.174 1.174h54.012c0.648 0 1.174-0.526 1.174-1.174s-0.526-1.174-1.174-1.174z"></path>
  </symbol>
  <symbol id="icon-insta" viewBox="0 0 64 64">
  <title>insta</title>
  <path fill="none" stroke="#657786" stroke-width="5.3333" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" style="stroke: var(--color4, #657786)" d="M5.333 48l14.222-14.222 10.667 10.667 14.222-17.778 14.222 14.222"></path>
  <path fill="none" stroke="#657786" stroke-width="5.3333" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" style="stroke: var(--color4, #657786)" d="M55.111 58.667h-46.222c-1.963 0-3.556-1.593-3.556-3.556v-46.222c0-1.963 1.593-3.556 3.556-3.556h46.222c1.963 0 3.556 1.593 3.556 3.556v46.222c0 1.963-1.593 3.556-3.556 3.556z"></path>
  <path fill="#657786" style="fill: var(--color4, #657786)" d="M32 19.556c0 2.945-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.945 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
  </symbol>
  <symbol id="icon-edit" viewBox="0 0 64 64">
  <title>edit</title>
  <path fill="#fff" style="fill: var(--color1, #fff)" d="M59.855 4.142c-5.509-5.523-14.468-5.523-19.977 0l-36.627 36.614c-0.286 0.286-0.464 0.655-0.518 1.050l-2.714 20.1c-0.082 0.573 0.123 1.145 0.518 1.541 0.341 0.341 0.818 0.545 1.295 0.545 0.082 0 0.164 0 0.245-0.014l12.109-1.636c1.009-0.136 1.718-1.064 1.582-2.073s-1.064-1.718-2.073-1.582l-9.709 1.309 1.895-14.018 14.755 14.755c0.341 0.341 0.818 0.545 1.295 0.545s0.955-0.191 1.295-0.545l36.627-36.614c2.673-2.673 4.145-6.218 4.145-9.995s-1.473-7.323-4.145-9.982zM40.586 8.642l6.15 6.15-33.423 33.423-6.15-6.15 33.423-33.423zM21.945 56.833l-6.014-6.014 33.423-33.423 6.014 6.014-33.423 33.423zM57.932 20.779l-14.714-14.714c1.868-1.541 4.2-2.386 6.655-2.386 2.795 0 5.414 1.091 7.391 3.055s3.055 4.596 3.055 7.391c0 2.468-0.845 4.786-2.386 6.655z"></path>
  </symbol>
  <symbol id="icon-dots" viewBox="0 0 64 64">
  <title>dots</title>
  <path fill="#abafc3" style="fill: var(--color2, #abafc3)" d="M24.79 32c0-3.536 3.226-6.4 7.21-6.4s7.21 2.864 7.21 6.4c0 3.536-3.226 6.4-7.21 6.4s-7.21-2.864-7.21-6.4zM56.79 25.6c-3.984 0-7.21 2.864-7.21 6.4s3.226 6.4 7.21 6.4c3.984 0 7.21-2.864 7.21-6.4s-3.226-6.4-7.21-6.4zM7.21 25.6c-3.984 0-7.21 2.864-7.21 6.4s3.226 6.4 7.21 6.4c3.984 0 7.21-2.864 7.21-6.4s-3.226-6.4-7.21-6.4z"></path>
  </symbol>
  </defs>
  </svg>
