extends layouts/_layout

include components/_action-btn
include components/_edit-avatar
include components/_header

block content
  .page-content
    +header('Contact')
    main.main
      +editAvatar()
  include components/_side-menu

block scripts
  script(src='js/main.bundle.js')
