extends layouts/_layout

include components/_header



block content
  .page-content
    +header('Edit Contact')
    main.main
      include components/_contact-form
  include components/_side-menu

append scripts
  script.
    window.CONFIG = {
      PAGE: '/edit-contact'
    };
  script(src='js/main.bundle.js')
