extends layouts/_layout

include mixins/_side-panel



block content
  .page-content
    header.header
      h1.page-title Edit Contact
    main.main main
  include components/_side-menu

block scripts
  script(src='js/main.bundle.js')
