extends layouts/_layout

include components/_header


block content
  .page-content
    +header('All Contacts')
    main.main
      include components/_users-list
  include components/_side-menu

block scripts
  script(src='js/main.bundle.js')
